[submodule "components/drone_controller"]
	path = components/drone_controller
	url = ssh://git@forgejo.galard.uk:222/Cansat/drone_controller.git

[submodule "components/esp32_BNO08x"]
	path = components/esp32_BNO08x
	url = ssh://git@forgejo.galard.uk:222/Cansat/esp32_BNO08x.git
